* text=auto
.gitattributes text eol=lf
LICENSE text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.java text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.py text eol=lf
release/fixes/restoration/checkpoints/*.log text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.nbt binary
*.jar binary
